@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@200&display=swap');

.loader {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            z-index: 1040;
        }

        .loader h1 {
            text-align: center;
            font-weight: 10;
            color: aqua;
        }

        .loader h1 em {
            font-family: 'Noto Sans Kannada', sans-serif;
            font-style: normal;
            color:rgb(229, 149, 231);
        }

        .loader .c-b {
            letter-spacing: 1px;
            vertical-align: middle;
        }

        .loader .bold {
            letter-spacing: -.5px;
            vertical-align: middle;
            font-weight: 1000;
            color: rgb(202, 6, 241);

            
        }